<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayrajaramillo.appcurso" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Formulario"
            android:label="@string/title_activity_formulario" >
        </activity>
        <activity
            android:name=".Datos"
            android:label="@string/title_activity_datos" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".ListaMascotas"
            android:label="@string/title_activity_lista_mascotas" >
        </activity>
        <activity
            android:name=".ListaCuidados"
            android:label="@string/title_activity_lista_cuidados" >
        </activity>
        <activity
            android:name=".DatosVeterinario"
            android:label="@string/title_activity_datos_veterinario" >
        </activity>
    </application>

</manifest>
